* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #FFF;
  background: #ebf2f5;
}

body, input, button, textarea {
  font: 600 18px Nunito, sans-serif;
}

:root {
  --blue-primary: #15C3D6;    /*sidebar*/
  --blue-secondary: #12AFCB;  /*buttons*/
  --blue-tertiary: #17D6EB;   /*buttons:hover*/
  --blue-quaternary: #96FEFF;   /*buttons:hover*/
  --yellow: #FFD666;          /*selected-button and notification*/
  --text-primary: #FFF;
  --text-secondary: #8FA7B2;
  --text-tertiary: #5C8599;
  --text-titles: #4D6F80;
  --text-button-hover: #0089A5;
  --border-low-contrast: #D3E2E5;
}
